.mail-top-filters { 
    width:100%;
    font-family: Lato-regular;
    display:flex;
    align-items: center;
    overflow-x: hidden;
}
.mail-top-filters input{  
    font-size: 1rem;
    padding:5px 5px;
    border:1px solid rgba(0, 0, 0, 0.185);
    box-shadow:0 0 3px rgba(0, 0, 0, 0.137);
    width:40%;

}
.mail-top-filters .select-box { 
    margin-inline-start: 10px;
    height: 100%;
    border:none;
    border-bottom:1px solid rgb(48, 47, 47);
    font-size:1rem;
    
    font-family: Lato-regular;
}
.mail-top-filters label { 
    margin-inline-start: 10px;
    font-size:1rem
}
.mail-top-filters .select-box:focus { 
    outline:none;
}
.mobile-menu-btn { 
    background-color: transparent;
    position:fixed;
    right:10px;
    width:50px;
    height:50px;
    border-radius:50%;
    z-index:5;
}

@media screen and (min-width:800px){
    .mail-top-filters input{  
        font-size: 1rem;
        padding:10px 10px;
        width:50%;
    }
    .mail-top-filters .select-box { 
        margin-inline-start: 10px;
        height: 70%;

        font-size:1rem;
        font-family: Lato-regular;
    
    }
    .mail-top-filters label { 
        font-size:unset
    }
    .mail-top-filters .select-box:focus { 
        outline:none;
    }
    .mail-top-filters .mobile-menu-btn { 
        display:none ;
    }
    
}


