.mail-preview { 
    height:50px;
    display:flex;
    border:1px solid gray;
    width:100%;
    align-items: center;
    gap:5px;
    
}
.mail-preview img { 
    padding:10px 10px;
    width:4%;
    cursor: pointer;
}
.mail-preview img.not-starred { 
    filter:saturate(0)
}
.mail-preview .from{ 
    font-size: 1rem;
    width:25%;
}
.mail-preview .subject{ 
    width:30%;
}
.mail-preview .body-snippet{ 
    overflow-y: hidden;
    flex-grow: 1;
}
.mail-preview .sent-time { 
    width:10%;
}