@keyframes rotate-90-cw {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(90deg);
    }
  }

.mail-menu nav{ 
    display: flex;
    flex-direction: column;
    
}
.mail-menu a{ 
    text-decoration: none ;
    color:rgb(26, 26, 26);
}

.mail-menu a.active{ 
    color:rgb(26, 26, 26);
}
.mail-menu h1.compose-btn { 
    font-size:1.5rem;
    padding: 20px 10px;
    background-color:gold;
    text-align: center;
    border-radius: 2em;
    text-decoration: none ;
}
.mail-menu button.compose-btn { 
    font-size:1.5rem;
    padding: 20px 10px;
    background-color:gold;
    text-align: center;
    border-radius: 2em;
    border-color: rgba(0, 0, 0, 0.11);
    text-decoration: none ;
    width:200px;
    box-shadow : 0 0 2px rgba(0, 0, 0, 0.274);
    transform: scale(1);
    transition: box-shadow .2s ease-out ,transform .2s ease-out;
    cursor: pointer;
}
.mail-menu button.compose-btn::before { 
    content:'+';
    margin-inline-end: 10px;
    top:6px;
    left:12.5px;
    font-size:3rem;
    color:rgba(0, 0, 0, 0.459);
    position: absolute;
}
.mail-menu button.compose-btn:hover::before { 
	animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mail-menu button.compose-btn:hover { 
    transform: scale(1.03);
    box-shadow : 0 0 5px rgba(0, 0, 0, 0.274);
}
.mail-menu ul { 
    list-style: none;
    margin-top:30px;
}
.mail-menu li { 
    display:flex;
    height:70px;
    align-items:center ;
    justify-content: center;
    cursor: pointer;
    background-color:white;
    transition: background-color .1s ease-in;
    border-radius:0px 4em 4em 0px;
    border-bottom:1px solid rgba(128, 128, 128, 0.521)

}
.mail-menu li.active{ 
    background-color:rgb(255, 245, 190);

}

.mail-menu li:not(:first-of-type) { 
    border-top:1px solid rgba(128, 128, 128, 0.397);
}
.mail-menu li .menu-img{ 
    height:40%;
    margin-inline-end: 10px;
    filter:brightness(0)
}

@media screen and (min-width:800px) {
     .mail-menu li { 
        height:50px;
        align-items:center ;
        justify-content: unset;
        padding-inline-start: 10px;
        background-color:white;
        transition: background-color .1s ease-in;
        border-radius: 4em 0px 0px 4em;
        border-bottom:1px solid rgba(128, 128, 128, 0.199)

    }
    .mail-menu li:hover { 
        background-color:rgb(255, 251, 230);
    
    }
    .mail-menu li.active{ 
        background-color:rgba(255, 242, 170, 0.664);
    }
    
}