@font-face {
    font-family: lato-regular;
    src: url(/assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(/assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: euro;
    src: url(/assets/fonts/eurof55.ttf);
}