.mail-app { 
    display:grid;
    grid-template-columns: 200px 85%;
    grid-template-rows: 90px 1fr;
    margin:0 auto;
    justify-self: center;
    gap:10px ;
    margin-top:20px;
}
.search-box {
    grid-column: 2;
    grid-row: 1;
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.search-box p{
    color:gray;
    width:200px;
    height: auto;
    align-self: flex-start;

}
.side-menu {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}
.mail-main { 
    grid-column: 2;
    grid-row: 2;
    width:100%;
}