.app-home {
    margin:0 auto;
    align-items:   center;
    display: flex;
    flex-direction: column;
}
.app-home h1{
    padding:40px 0;
    font-size:3rem;
}
.app-home .app-row { 
    display: flex;
    gap:20px;
}
