.app-home {
    margin:0 auto;
    align-items:   center;
    display: flex;
    flex-direction: column;
}
.app-home h1{
    margin-top:40px;
    font-size:3rem;
}

.app-home > h2{
    margin-bottom:40px;
    color:rgb(129, 129, 129);
    font-weight:200;
}
.app-home .app-row { 
    display: flex;
    gap:20px;
    
}
