.app-home {
    margin:0 auto;
    align-items:   center;
    max-width:1200px;
    display: flex;
    flex-direction: column;
}
.app-home h1{
    margin-top:40px;
    font-size:3rem;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    margin-bottom:20px;
    text-align: center;
}

.app-home > h2{
    margin-bottom:80px;
    color:rgb(129, 129, 129);
    font-weight:200;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}
.app-home .app-row { 
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
.app-home a{
    text-decoration: none;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
