.app-preview { 
    width:340px;
    border:1px solid rgba(128, 128, 128, 0.342);
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-direction: column;
    padding:20px 10px
}
.app-preview h2{    
    font-size:2rem
}

.app-preview img {
    width:75%;
}