.app-menu .app-links {
    display: none;
    overflow-x: hidden;
    opacity:0;
    transition: opacity .2s;
}

.app-menu .app-links.menu-open {
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    width:100%;
    justify-content: space-around;
    z-index: 10;
    background-color:rgba(255, 255, 255, 0.767);
    padding:20px;
    opacity:1;
}

.app-menu .apps-icon {
    cursor: pointer;

}

.app-menu .app-link {
    animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity:0.8 !important;
}
.app-menu .app-link img{
    background-color: gold ;
    border-radius:.5em;
    height:fit-content;
    padding:5px;
}

.app-menu .app-link.active {
    opacity:1 !important;
}

.app-menu .app-link:nth-of-type(2) {
    animation-delay: .1s;
}

.app-menu .app-link:nth-of-type(3) {
    animation-delay: .2s;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width:800px) {
    .app-menu .app-link {
        animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .app-menu .app-links.menu-open {
        display: flex;
        right: 8%;
        top: 10px;
        gap: 20px;
        width:200px;
        left: unset;
        padding:unset;
        background-color: transparent;



    }
    .app-menu .app-link {
        animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        opacity:0.5 !important;
    }
    .app-menu .app-link img{
        background-color: transparent ;
    }
}